<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
</style>
</head>
<body>
  <ul >
    <li><app-product name="HP-Laptop" [price]="34332"></app-product></li> <br>
    <li><app-product name="Dell" [price]="34738"></app-product></li> <br>
    <li><app-product name="Lenovo" [price]="34050"></app-product></li> <br>
    <li><app-product name="Acer" [price]="34232"></app-product></li> <br>
  </ul>

</body>
</html>